:root{
    --bs-success-rgb:16,216,118;
    --bs-primary-rgb:30, 116, 253;
    --bg-gray:#EEEEEE;
    --bs-warning-rgb:254,148,49;
    --text-gray:#adb5bd;
    --bg-active-link:#D2E3FF;
    --text-gray888:#888;
    --theme-color:#05f;
    --theme-color-shade:#09f;
 
}
@font-face{
    font-family: fredoka;
    src: url('../fonts/Fredoka/static/Fredoka-Regular.ttf');
}
@font-face{
    font-family: monseerat;
    src:url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf')
}
.fredoka-font{/* any div i give it this class will has fredoka font*/
    font-family:fredoka ;
}
body{
    font-family: monseerat;
}
.bg-gray{
    background-color: var(--bg-gray);
}
.text-gray{
    color: var(--text-gray);
}
.text-gray888{
    color: var(--text-gray888);
}
.bg-blue-gradiant {
    background: linear-gradient(to right, #0575e6, #021b79) !important;
}
.bg-red-gradiant {
    background: linear-gradient(to right, #e44d26, #f16529) !important;
}
.bg-gold-gradiant {
    background: linear-gradient(to right, #f2994a, #f2c94c) !important;
}
.bg-mini-gradiant {
    background: linear-gradient(to right, #ee0979, #ff6a00) !important;
}
.shadow-xss {
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
}
.bg-primary-gradiant {
    background: linear-gradient(135deg, var(--theme-color), var(--theme-color-shade)) !important;
}
.w35{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.w25{
    width: 25px;
    height: 25px;
    border-radius: 50% ;
}
.w50{
    width: 50px !important;
    height: 50px;
    border-radius: 50%!important;
}
.w20{
    width: 20px;
}
a{
    text-decoration: none;
    color:black;
}
/* style scrollbar */
/* width */
::-webkit-scrollbar {
    width: 7px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
  .center-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* Animations */
@keyframes infiniteRotate {
    from{
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
    
}
.infinite-rotate{
animation:4s linear infinite infiniteRotate;
}
/* main  */
.sidebar , 
.chat-contact{
    width:260px;
    height: 100vh;
    overflow-y: auto;
}
.main-content{
    padding-left: 260px ;/*as the sidebar width */
    padding-right: 260px ;
    transition: .5s;
}
.main-content.active-chat{
    padding-right: 0 !important;
}
.chat-contact{
    top:0;
    right: 0;
    transition: .5s;
}
.chat-contact.active{
    right:-260px;
}
.content-card li.item h3{
    font-size: 14px;
    color: var(--text-gray888);
    }
.border-xxl{
    border-radius: 15px !important;
}
.font-xs{
 font-size: 14px !important;   
}
.font-x{
    font-size: 25px !important;;
}
.font-xss{
    font-size: 12px;
}
.font-600{
    font-weight: 600;
}
/* slick carousel, owl carousel , splide js carousel "libraries for making stories part"*/

/* stories carouesl */
.owl-stage{
    width: max-content !important;
}
.stories-carousel .owl-item,.follows-carousel .owl-item{
border-radius: 15px;
height:200px;
width:140px !important;
text-align: center;
overflow: hidden;
position: relative;
}
.stories-carousel .owl-item::after{
    content:'';
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left: 0;
    background: linear-gradient(0deg, rgba(0,0,0,0.5356267507002801) 19%, rgba(0,0,0,0.22190126050420167) 43%);/* css linear gradient generator for the  stories shadow */
    /* z-index: 0; */
}
.stories-carousel .owl-item .content{
    width: 140px;
     z-index: 1;/*to let shadow uncer the content */
}
.stories-carousel .owl-item:nth-child(1){
    background-color:#343A40 ;
}
/* live carusel */
.lives-carousel .owl-item .top-section{
    height: 30%;
}
.lives-carousel .owl-item .top-section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.lives-carousel .owl-item .bottom-section .user-img{
    top:-25px;
    left: 50%;
    transform: translateX(-50%);
}
.lives-carousel .owl-item {
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
    border-radius: 15px;
height:200px;
width:220px !important;
text-align: center;
overflow: hidden;
position: relative;
}
.follows-carousel .owl-item{
    box-shadow: 0 8px 30px rgba(0, 0, 0, .05) !important;
    background-color: white;
}


/*  */
.img-overlay{
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
   font-size: 18px;
   background: rgba(0,0,0,.6);
   border-radius: 10px;
}
/* loader from css loader generator  */
.dots {
    width: 40px;
    height: 19.2px;
    background: radial-gradient(circle closest-side,#0055ff 90%,#0000) 0%   50%,
           radial-gradient(circle closest-side,#0055ff 90%,#0000) 50%  50%,
           radial-gradient(circle closest-side,#0055ff 90%,#0000) 100% 50%;
    background-size: calc(100%/3) 9.6px;
    background-repeat: no-repeat;
    animation: dots-7ar3yq 1.2s infinite linear;
 }
 
 @keyframes dots-7ar3yq {
    20% {
       background-position: 0%   0%, 50%  50%,100%  50%;
    }
 
    40% {
       background-position: 0% 100%, 50%   0%,100%  50%;
    }
 
    60% {
       background-position: 0%  50%, 50% 100%,100%   0%;
    }
 
    80% {
       background-position: 0%  50%, 50%  50%,100% 100%;
    }
 }
 /* login/register page */
 .form-wrapper{
    min-width: 350px !important;
    max-width: 400px !important;
  
 }
 input{
    outline: none;
 }
 .input-holder{
    border: 2px solid var(--text-gray888);
    margin-bottom: 15px;
 }
 .input-holder:focus-within{/*if focus on on of children the change will happen to input holder */
border-color: var(--theme-color);
border-width:2px;
 }
 .bg-facebook{
    background-color:#385999 ;
 }